div {
    background: linear-gradient(135deg, rgba(31, 159, 22, 0.828)0%, rgb(58, 235, 38)100%);
    border-radius: 8px;
    padding: 40px;
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    color: #dddddd;
}   

.oswald- uniquifier> {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: normal;
    
}