.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333333;
}

.menu {
    display: flex;
    gap: 20px;
    list-style: none;
}

.hero {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 background: linear-gradient(to right, #667eea, #764ba2);

}

.hero-content {
    text-align: center;
    color: white;
}

.cards {
    display: flex;
    gap:20px  ;  
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    background: #667eea;
    border-radius: 8px;
}