/*p, h5, h6 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
p {
    color: blue ;
}

h5 {
    color: black ;
}

h6 {
    color: red ;
}*/

body {
    background-color: #e7e30d;
}

.card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}                                           

.custom-button {
    background-color: #3B82F6;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}